@CHARSET "UTF-8";
body, ul, li{margin:0px;padding:0px}
#title{font-size:1.5em;color:orange}

#memLst>li{height:30px;margin:0.1%;line-height:30px;
           padding:0.2% 0.5%;float:left;list-style-type:none}
#memLst>li:nth-child(2n){/*짝수번째*/
	background-color:gray;text-align:right;
	width:20%;
}
#memLst>li:nth-child(2n+1){/*홀수 번째*/
	background-color:#ddd;width:77.4%;
}
#memLst>li:first-child{width:100%;background-color:#fff}
#memLst>li:last-child{width:100%;background-color:#ddd;text-align:center}

#hand2, #hand3{width:40px}

#domain2{visibility:hidden;position:relative}





